@font-face {
  font-family: "iconfont"; /* Project id 4700620 */
  src: url('iconfont.woff2?t=1734708190437') format('woff2'),
       url('iconfont.woff?t=1734708190437') format('woff'),
       url('iconfont.ttf?t=1734708190437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\eb18";
}

.icon-launch:before {
  content: "\e60b";
}

.icon-minimize:before {
  content: "\e60e";
}

.icon-close:before {
  content: "\e60f";
}

.icon-left:before {
  content: "\eb16";
}

.icon-right:before {
  content: "\eb17";
}

