@font-face {
  font-family: "iconfont"; /* Project id 4552486 */
  src: url('iconfont.woff2?t=1720247254966') format('woff2'),
       url('iconfont.woff?t=1720247254966') format('woff'),
       url('iconfont.ttf?t=1720247254966') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowup:before {
  content: "\eb0a";
}

.icon-switch:before {
  content: "\e62a";
}

.icon-mail:before {
  content: "\e766";
}

.icon-qq:before {
  content: "\e667";
}

.icon-bilibili:before {
  content: "\e71d";
}

.icon-github:before {
  content: "\e63a";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-search:before {
  content: "\eafe";
}

.icon-left:before {
  content: "\eb16";
}

.icon-right:before {
  content: "\eb17";
}

.icon-theme:before {
  content: "\eaeb";
}

.icon-color:before {
  content: "\eaec";
}

.icon-add:before {
  content: "\eaf3";
}

.icon-settings:before {
  content: "\eafb";
}

.icon-logo:before {
  content: "\e601";
}

.icon-save:before {
  content: "\eabd";
}

.icon-copy:before {
  content: "\eac1";
}

.icon-pic:before {
  content: "\eac4";
}

.icon-link:before {
  content: "\eac5";
}

.icon-text:before {
  content: "\eac6";
}

.icon-menu:before {
  content: "\eaf1";
}

.icon-close:before {
  content: "\eaf2";
}

.icon-article:before {
  content: "\eaff";
}

.icon-up:before {
  content: "\eb14";
}

.icon-down:before {
  content: "\eb15";
}

